<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>書籍管理アプリ-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF18002D1F6114F600D65DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1800411F6114F600D65DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF18004C1F6114F600D65DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
